<div class="row">
  <div class="col">
    <h3 class="mt-5 float-left">
      Listagem de
      <small class="text-muted">Usuários</small>
    </h3>
    <a routerLink="usuario/novo" class="btn btn-primary text-white float-right mt-5">Adicionar Usuário</a>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Nome</th>
          <th>Idade</th>
          <th>E-mail</th>
          <th width="150">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="listaUsuarios.length <= 0">
          <td colspan="4" class="text-center">Nenhum registro encontrado!</td>
        </tr>
        <tr *ngFor="let usuario of listaUsuarios; let i=index">
          <td>{{ usuario.nome }}</td>
          <td>{{ usuario.idade }}</td>
          <td>{{ usuario.email }}</td>
          <td>
            <a class="btn btn-sm btn-primary text-white mr-2" (click)="Editar(i)">Editar</a>
            <a class="btn btn-sm btn-danger text-white" (click)="Excluir(i)">Excluir</a>
          </td>
        </tr>
      </tbody>
    </table>

    <div id="result"><ol></ol></div>

  </div>
</div>